force-app/main/default/flows/AccountUpsellOpportunityUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description
  >Updates Rating field on Account based on Upsell Opportunity field</description>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Rating_Value</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <steps>
        <name>Set_Rating_Value</name>
        <label>Set Rating Value</label>
        <locationX>50</locationX>
        <locationY>132</locationY>
        <assignmentItems>
            <assignToReference>RatingValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RatingValueFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Rating</targetReference>
        </connector>
    </steps>
    <steps>
        <name>Update_Account_Rating</name>
        <label>Update Account Rating</label>
        <locationX>50</locationX>
        <locationY>260</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UpsellOpportunity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <objectType>Account</objectType>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>RatingValue</elementReference>
            </value>
        </inputAssignments>
    </steps>
    <variables>
        <name>RatingValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <decisions>
        <name>RatingValueFormula</name>
        <label>Rating Value Formula</label>
        <locationX>50</locationX>
        <locationY>26</locationY>
        <defaultConnector>
            <targetReference>Set_Rating_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Upsell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.UpsellOpportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Rating_Value</targetReference>
            </connector>
            <label>No Upsell</label>
        </rules>
        <rules>
            <name>Maybe_Upsell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.UpsellOpportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maybe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Rating_Value</targetReference>
            </connector>
            <label>Maybe Upsell</label>
        </rules>
        <rules>
            <name>Yes_Upsell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.UpsellOpportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Rating_Value</targetReference>
            </connector>
            <label>Yes Upsell</label>
        </rules>
    </decisions>
</Flow>
